.video {
    float: none;
    clear: both;
    width: 590px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    margin: 0 auto;
}


.video iframe {
    display: block;
    margin: 25px 10px;
    position: relative;
    top:0;
    left:0;
}
